<!DOCTYPE html>
<html>
<title>HTML Tutorial</title>

<body>
    <form>
        <button type="submit" formaction="tests/create-test">Create Test</button>
        <br><br>
        <button type="submit" formaction="parts/create-part1">Create Part 1</button><br>
        <button type="submit" formaction="parts/create-part2">Create Part 2</button><br>
        <button type="submit" formaction="parts/create-part3">Create Part 3</button><br>
        <button type="submit" formaction="parts/create-part4">Create Part 4</button><br>
        <button type="submit" formaction="parts/create-part5">Create Part 5</button><br>
        <button type="submit" formaction="parts/create-part6">Create Part 6</button><br>
        <button type="submit" formaction="parts/create-part7">Create Part 7</button><br>
    </form>
</body>

</html>